{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Management System</title>
    <!-- CSS Preline -->
    <link rel="stylesheet" href="https://preline.co/assets/css/main.min.css" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/public/custom.css' %}" />
    
    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="dark:bg-neutral-900">
    {% include 'layout/public/_header.html' %} 

    <div class="bg-white">
      <main>
        {% block content %} {% endblock %}
      </main>
    </div>

    {% include 'layout/public/_footer.html' %} 

    <!-- Required plugins -->
    <script src="https://cdn.jsdelivr.net/npm/preline/dist/preline.min.js"></script>
  </body>
</html>
